ul{
    list-style: none;
    margin: 5px 0px;
}

.navbar{
    position: fixed;
}

li{
    opacity: 60%;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 20px;
}

#nav_div{
    width: calc(300px);
}


li:hover{
    opacity: 100%;
}

.nav_container{
    height: 100vh;
    font-weight: 400;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-image: url("./images/back.webp");
}

.nav_inner:not(.fancy .letter){
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-style: italic;
}

.fancy > .letter{
    opacity: 60%;
}

.fancy{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fancy > .letter{
    display: inline-block;
    font-size: 25px;
    font-style: normal;
}

.fancy:hover > .letter{
    opacity: 100%;
}

.fancy:hover > .letter:nth-child(1){
    transform: translate(-10%,40%) rotate(-15deg);
}
.fancy:hover > .letter:nth-child(2){
    transform: translate(10%,-5%) rotate(10deg);
}
.fancy:hover > .letter:nth-child(3){
    transform: translate(10%,70%) rotate(-4deg);
}
.fancy:hover > .letter:nth-child(4){
    transform: translate(-10%,-20%) rotate(20deg);
}
.fancy:hover > .letter:nth-child(5){
    transform: translate(-10%,70%) rotate(-20deg);
}
.fancy:hover > .letter:nth-child(6){
    transform: translate(10%,-20%) rotate(35deg);
}
.fancy:hover > .letter:nth-child(7){
    transform: translate(-15%,55%) rotate(-15deg);
}
.fancy:hover > .letter:nth-child(8){
    transform: translate(25%,-5%) rotate(20deg);
}
.fancy:hover > .letter:nth-child(9){
    transform: translate(-5%,60%) rotate(-35deg);
}
.fancy:hover > .letter:nth-child(10){
    transform: translate(-5%,0%) rotate(20deg);
}
.fancy:hover > .letter:nth-child(11){
    transform: translate(-5%,60%) rotate(-10deg);
}

#open{
    display: none;
}

.fancy_div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 940px) {
    .nav_container{
        background-color: black;
        width: 100vw;
        height: 100vh;
        margin: none;
        
    }

    .bottom li{
        font-size: 20px;
    }

    .nav_inner:not(.fancy .letter){
        justify-content: center;
        gap: 30px;
    }

/*background for the website and setting the nav div*/
    #open{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding:10px 10px;
        background-color: rgb(245, 90, 224);

    }

    #open img{
        filter: brightness(0) invert(1);
        width: 30px;
    }

    #nav_div{
        width: calc(1px);
      }
}

